<footer id="site-footer">
  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="list-unstyled">
          	<li class="text-secondary">
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
             <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>
      
      <div class="footer-col footer-col-2">
        <ul class="list-unstyled">
           {% if site.github_username %}
            <li>       
                <span class="align-middle pr-2">{% include icon-github.svg %}
                <a href="https://github.com/{{ site.github_username }}" class="text-secondary">{{ site.github_username }}</a></span>
            </li>
            {% endif %}

            {% if site.twitter_username %}
            <li>       
                <span class="align-middle pr-2">{% include icon-twitter.svg %}
                <a href="https://twitter.com/{{ site.twitter_username }}" class="text-secondary">{{ site.twitter_username }}</a></span>
            </li>
            {% endif %}
        </ul>
      </div>
      
      <div class="footer-col footer-col-3">
        <p class="text-secondary text-justify">{{ site.description | escape }}</p>
      </div>
    </div>

  </div>
</footer>
